body {
    background-color: rgba(54, 54, 54, 0.808);
    font-size: 20px; /* (px, %, em) */
}

h1 {
    background-color: rgb(108, 110, 110);
    color: rgba(75, 148, 243, 0.945); 
    text-align: center; /* alinhar texto */
    text-shadow: 3px 5px 40px; /* Sombra no texto */
}

#primeiro {
    font-family: Arial, Helvetica, sans-serif;
    /*font-size: 20px;*/
    font-variant: small-caps; /* Variações da fonte */
    text-align: justify;
    text-decoration:underline dotted; /* Decorações(riscar texto e etc) */
}

#segundo {
    /* font-size: 150%; */
    font-weight: bold; /* Negrito */
    /*text-transform: lowercase;*/ /* Tudo em Minusculo */
    /*text-transform: uppercase;*/ /* Tudo em Maiusculo */
    /*text-transform: capitalize;*/ 

}

#terceiro {
    /* font-size: 1.5em; */ 
    font-style: italic; /* Italico */
    /* font-style: small-caps; */
}

#exemplo {
    font-weight: bold;
    color:rgb(105, 8, 5)
}