*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh; /* Medidas -> View Width (Largura da View) / View Height (Altura da View)*/
    display: flex;
    flex-direction: column; /* Trazer de volta para a vertical */
}

header {
    width: 100%;
    min-height: 100px;
    background-color: rgb(98, 122, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1 {
    color: white;
}

nav {
    width: 100%;
    min-height: 50px;
    background-color: rgb(140, 158, 240);
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none; /* none -> tirar as bolinhas da lista */
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

/* hover -> Quando o mouse passa por cima */
nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.178);
    border-radius: 10px;
}

main{
    flex-grow: 1; /* Elemento pega o espaço sobrando */
    display: flex;
    flex-wrap: wrap;
}

section{
    width: 30%;
    background-color: rgb(171, 185, 245);
    flex-grow: 1;
    padding: 15px;
}


.item1{
    font-size: 25px; /* Medida -> em (Medida fonte)*/
}

.item1 h2{
    font-size: 1.5rem; /* Medida -> rem (Utilizar medida raíz) */
}

section h2 {
    text-align: center;
}

footer {
    width: 100%;
    min-height: 40px;
    background-color: rgb(98, 125, 247);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: white;
}